<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" style="margin:0;padding:0;background:#F1F3F5">

<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />

  <title>Bitwardex</title>

  <style type="text/css"></style>

</head>

<body>
<%= render @view_module, @view_template, assigns %>
</body>
</html>
